*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    height: 15%;
}
h1{
    color: orange;
    margin-left: 35px;
    display:block;
    position: inherit;
    
}

.image1{
    margin-top: 25px;
    /* margin-left: 10%; */
    height: 80vh;
    width: 100vw;
}

.title{
    
    /* margin-left: 10%;
    margin-right: 10%; */
    background-color: black;
    color: aliceblue;
    text-align: center;
   }

.logo{
    position:absolute;
    height:200px;
    left: 1%;
    top: 95%;
    
}
nav{
   
    position: relative;
    display: inline-block;
    top: -33.5em;
    right: -70%;

}
li{
    display: inline-block;
    margin-right: 15px;
    border-style:solid;
    text-decoration:none;
    box-shadow: gray 4px 4px;
    padding: 7px;
    color:black;
    background-color:rgb(66, 66, 197) ;
    -webkit-transition: background-color 1s linear;
    transition: background-color 0.58s linear; 
    
     
}

a{
    
    text-decoration:none;
    padding: 10px;
    color: white;
   
    
}

li:first-child{
    background-color:lime
}
li:hover{
    background-color: orange;
    color: black;
}
.msj_contact{
    top: -25px;
    width: 70%;
    position: relative;
    display: inline-block;
    margin-left: 15em;
}
.mailto{
    color: orange;
    display: inline-block;
    text-decoration: underline;
}