*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.image1{
    margin-left: 10%;
    width: 1080px;
    height: 500px;
    


}

.title{
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    color: aliceblue;
    text-align: center;
   }

.logo{
    height: 10em;
    position: relative;
    display:flex;
    margin-left: 900px;
    margin-bottom: 500px;
}