*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container_htop{
    /* background-color: gray; */
    display: flex;
    height: 10%;
    gap: 4.6%;
    justify-content: center;
    /* align-items:flex-end; */
}
h1{
    /* bottom: 1.2em; */
    /* position: absolute; */
    color:black;
    /* position:relative; */
    /* display: inline-block; */
    font-size:300%;
    /* background-color: blueviolet; */
    width: 60%;

}
.list{

    /* display: inline-block; */
    /* position: absolute; */
    /* top: 3.5em; */
    /* background-color: aqua;   */
    width: 40%;
    
}
.list a{
    /* margin-left: 2em; */
    font-size: 1.5em;
    /* display:inline-block; */
    border-style: solid black;
    /* margin-bottom: 3em; */
    -webkit-transition: background-color 1s linear;
    transition: background-color 0.58s linear; 
    text-decoration: none;
    box-shadow: gray 4px 4px;
    color: white;
    background-color: rgb(66, 66, 197);
    padding: 9px;

}

.list a:hover{
    background-color: orange;
    text-decoration: none;
}
#active{
    background-color: greenyellow;
}

header{
    /* margin-top: 5.5em; */
    background-image: url(../assets/design1_image22.jpg);
    height: 51vh;
    background-size: 100%;
    background-repeat:round;
}
.image1{
    height: 100vh;
    width: 98.7vw;
}   

h2{
    position: relative;
    font-size: 1.8em;
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 5px;
    /* top: 5em; */
}

.contenido_index{
    display: flex;
    /* display: inline-block; */
    /* position: absolute; */
    /* margin-top: 1.7em; */
    /* left: 25%; */
    /* background-color: aqua; */
    justify-content: space-between;
    

}
.contenido_rules{
    display: flex;
    justify-content: center;
    padding: 10px;

}
.logo{
    /* position: absolute; */
    height: 14em;
    left: 3%;
    /* top: 40em; */
    /* background-color: blueviolet; */

}

article{
    width: 75%;
    /* background-color: cadetblue; */

}
.contenido_index h4{
    margin-left: 1em;
    font-size: 2em;
}
.contenido_index p{
    /* background-color: blueviolet; */
    font-size: larger;
}
.contact_p{
    width: 70%;
    /* background-color: aqua; */
    padding-top: 3em;
}
table, tr, th, td{
    
    /* border: 1px solid black; */
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    padding: 3px;

}
caption{
    caption-side:top;
    text-align: start;
    text-decoration: underline;
    margin-bottom: 15px;
}
.contenido_games{
    display: flex;
    justify-content: space-between;
    margin-right: 12em;
}
.game_schedule{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    margin-right: 20em;
}
.game_titles{
    display: flex;
    /* background-color: blueviolet; */
    padding: 15px;
    flex: row ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin-bottom: 10px;
    margin-right: 8em;
}
#fall_s{
    margin-right: 80%;
    
}
.table{
    padding: 10px;
    flex-direction: column;
    margin-bottom: 20px;

}
.contenido_rules{
    display: flex;
    justify-content: space-between;
}
.contenido_rules_titles{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25%;
   
}

.contenido_rules_titles{
    /* background-color: blueviolet; */
    flex-direction: column;
    display: flex;
}
#rules_h4{
    font-size:18px;
}
.contenido_rules_list{
    /* background-color: orange; */
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 20px;
}
.ol_fields_rules{
    margin-left: 2em;
    /* background-color: cadetblue; */
    list-style:lower-alpha;
}
.all_play_li{
    /* background-color: brown; */
    list-style: circle;
    margin-left: 2em;
}
.rules_titles{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: center;
    /* background-color: aqua; */
    align-items: center;
    margin-right: 21em;
}
.rules_details p{
    padding: 10px;
}
.games_contact{
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-bottom: 15px;
}